<div class="publishing_controls">
  <div class="item">
    <input type="checkbox" id="pub_active" class="id_is_active" name="is_active">
    <label class="vCheckboxLabel" for="pub_active">Is Active</label>
  </div>
  <div class="item right">
    <select class="id_status" name="status">
        <option value="U">Unpublished</option>
        <option value="P">Published</option>
    </select>
  </div>
  <div class="item pub_date_time">
      <div class="pub_date">
        <label>Date</label>
        <input type="text" size="10" class="vDateField" id="pub_date_0">
      </div>
      <div class="pub_time">
        <label>Time</label>
        <input type="text" size="8"  class="vTimeField" id="pub_date_1">
      </div>
  </div>
</div>